* {
	box-sizing: border-box;
	margin: 0;
	line-height: 1;
}

div {
	display: flex;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}

h1, h2, output, pre, code {
	font-family: 'Fira Code', monospace;
	font-feature-settings: "liga", "calt";
	word-spacing: -0.2em;
}

pre {
	white-space: pre-wrap;
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1.25em;
}
.row.wrap {
	flex-wrap: wrap;
}
.row.inline {
	align-items: flex-end;
	column-gap: 0.25em;
}
.row > :last-child {
	text-align: right;
}

.column {
	display: flex;
	align-items: stretch;
	flex-direction: column;
	justify-content: space-between;
	gap: 1em;
}

.annotation {
	opacity: 0.4;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.url {
	color: rgba(255, 255, 255, 0.5);
}
.url strong {
	color: rgba(255, 255, 255, 0.75);
}

.card {
	padding: 1.5em;
	border-radius: 1em;
	background-color: rgba(255, 255, 255, 0.05);
}

.icon {
	display: flex;
	align-items: center;
	width: 1.25em;
	height: 1px;
}
.icon > img {
	width: 1.25em;
	height: 1.25em;
	border-radius: 0.33em;
	object-fit: contain;
	background: radial-gradient(circle, rgba(255, 255, 255, 0.075) 0%, rgba(255, 255, 255, 0.075) 66%, rgba(255, 255, 255, 0) 68%);
}

.summary {
	column-gap: 0.5em;
	color: rgba(255, 255, 255, 0.5);
}
.summary strong {
	color: rgba(255, 255, 255, 1);
}
[role="separator"] {
	display: block;
	align-self: stretch;
	border-left: 0.05em solid rgba(255, 255, 255, 0.75);
	opacity: 0.75;
}
