* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--bitcoin-gold: #f7931a;
	--ethereum-blue: #627eea;

	--up-green: #1af73d;
	--down-red: #f7541a;
	
	--primary-color: var(--ethereum-blue); /* #6790e1; */
	--card-background-color: rgba(0, 0, 0, 0.1);
	--card-border-radius: 0.5rem;

	--padding-outer: 1rem;
	--padding-inner: 0.8rem;

    min-height: 100vh;

	font-size: 20px;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	line-height: 1.5;
	color: #333;
	
	background: linear-gradient(155deg, #ffffff, var(--primary-color) 250%);
}
@media (prefers-color-scheme: dark) {
	:root {
		--card-background-color: rgba(255, 255, 255, 0.1);

		background: linear-gradient(155deg, #01002d, var(--primary-color) 250%);
		color: #f7fdff;
	}
}


h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
}

h1 {
	font-size: 2em;
	font-weight: 600;
}

a {
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}


button {
	-webkit-appearance: none;
	background-color: var(--primary-color);
	color: #fff;
	border: none;
	border-radius: 0.33em;
	outline: none;

	padding: 0.3em 0.7em;
	
	font: inherit;
	font-size: 1.25em;
	font-weight: bold;
	text-decoration: none;
	
	transition: 0.3s;

	cursor: pointer;
}
button:hover, button:focus {
	opacity: 0.9;
	transform: scale(1.02);
}


:-placeholder {
	opacity: 0.5;
}

input, select, textarea {
	border: none;
	font: inherit;
}

input {
	border-radius: 0.5rem;
	padding: 0.3em 0.7em;
	width: 100%;
}
/* input.is-valid {
	border: 2px solid green;
} */

select {
	border-radius: 0.5rem;
	padding: 0.25em 0.4em;
}

section {
	display: grid;
	gap: var(--padding-inner);
	grid-template-columns: 100%;
}


:disabled, [disabled], .placeholder {
	opacity: 0.2;
	pointer-events: none;
	touch-action: none;
}