* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration-color: inherit;
}

:root {
	--bitcoin-gold: #f7931a;
	--ethereum-blue: #627eea;

	--up-green: #1af73d;
	--down-red: #f7541a;

	--portis-blue: #6db2d8;
	
	--primary-color: var(--ethereum-blue); /* #6790e1; */
	--card-background-color: rgba(0, 0, 0, 0.075);
	--card-hover-background-color: rgba(0, 0, 0, 0.100);
	--card-border-radius: 0.5rem;

	--one-column-width: 58em;
	--padding-outer: 1rem;
	--padding-inner: 0.8rem;
	
	--base-fonts: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	--monospace-fonts: 'Fira Code', 'JetBrains Mono', 'Roboto Mono', Menlo, Inconsolata, monospace;

	min-height: 100vh;

	font-size: 20px;
	font-size: clamp(15px, 1.1vw, 20px);
	font-family: var(--base-fonts);
	line-height: 1.5;

	-webkit-font-feature-settings: "liga" on, "calt" on;
	font-feature-settings: "liga" on, "calt" on;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;

	color: #333;
	--text-decoration-color: 51, 51, 51;
	
	--global-background-gradient-base-color: #ffffff;
	background: linear-gradient(155deg, var(--global-background-gradient-base-color), var(--primary-color) 250%) fixed;
}
@media (prefers-color-scheme: dark) {
	:root {
		--card-background-color: rgba(255, 255, 255, 0.1);
		--card-hover-background-color: rgba(255, 255, 255, 0.15);
		--global-background-gradient-base-color: #01002d;

		-webkit-font-smoothing: auto;

		color: #f7fdff;
		--text-decoration-color: 247, 253, 255;
	}
}

a {
	--text-decoration-opacity: 0.1;
	color: inherit;
	transition: 0.2s;
    text-decoration-color: rgba(var(--text-decoration-color), var(--text-decoration-opacity));
}
a:hover {
	--text-decoration-opacity: 0.45;
	opacity: 0.9;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	line-height: 1.2;
}

h1 {
	font-size: 2em;
}

code {
	font-family: var(--monospace-fonts);
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}


button {
	-webkit-appearance: none;
	background-color: var(--primary-color);
	color: #fff;
	border: none;
	border-radius: 0.33em;
	cursor: pointer;
	outline: none;

	padding: 0.3em 0.7em;
	
	font: inherit;
	font-size: 1.15em;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);

	--depth: 0.15em;
	--scale: 1;
	--glow: 0;
	box-shadow: 0px var(--depth) rgba(0, 0, 0, 0.25), 0px var(--depth) var(--primary-color), 0 var(--depth) var(--glow) var(--primary-color);
	transform: translateY(calc(-1 * var(--depth))) scale(var(--scale));
	
	transition: 0.2s;

	cursor: pointer;
}
button:hover, button:focus {
	--scale: 1.015;
}
button:focus {
	--glow: 5px;
}
button:active {
	--depth: 0;
}


:-placeholder {
	opacity: 0.5;
}

input, select, textarea {
	border: none;
	font: inherit;
}

input {
	border-radius: 0.5rem;
	padding: 0.3em 0.7em;
}
/* input.is-valid {
	border: 2px solid green;
} */

select {
	border-radius: 0.5rem;
	padding: 0.25em 0.4em;
}

section {
	display: grid;
	gap: var(--padding-inner);
	grid-template-columns: 100%;
}


:disabled, [disabled], .placeholder {
	opacity: 0.2;
	pointer-events: none;
	touch-action: none;
}


hr {
	background: none;
	border: none;
	border-bottom: currentColor 1px solid;
	opacity: 0.25;
}


main {
	display: grid;
	gap: var(--padding-inner);
	margin: 0 auto;
	padding: 2rem;

	position: relative;
	width: 100%;
}


.card {
	display: grid;
	gap: var(--padding-inner);
	padding: var(--padding-outer);

	background-color: var(--card-background-color);
	border-radius: var(--card-border-radius);

	transition: 0.4s;
}
.card:hover {
	background-color: var(--card-hover-background-color);
}